@{
    ViewBag.Title = "Anthony C. White";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Cell Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>832.549.5906</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Primary:</span>
        <span><a href="mailto:tonywhite143@gmail.com">TonyWhite143@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        5306 Bristol Bank Ct.<br />
        Houston, TX 77041
    </p>
</section>